<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9869f4">  <td>21/07/23 18:18:51</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseclassWeb.setup()[pri:0, instance:com.web.clear360.testcase.OrgSettings@543788f3]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1782148126</td>   <td></td> </tr>
<tr bgcolor="fbf16f">  <td>21/07/23 18:18:58</td>   <td>7028</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OrgSettings.validLogin()[pri:1, instance:com.web.clear360.testcase.OrgSettings@543788f3]">validLogin</td> 
  <td>main@1782148126</td>   <td></td> </tr>
</table>
