<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a7b0ac">  <td>20/10/09 22:46:08</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="mobileAppLogin.App_onBoardingFollow()[pri:2, instance:com.mobileApp.clear360.testcase.mobileAppLogin@290dbf45]">App_onBoardingFollow</td> 
  <td>main@439928219</td>   <td></td> </tr>
<tr bgcolor="a7b0ac">  <td>20/10/09 22:48:36</td>   <td>148494</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="mobileAppLogin.CheckIn_Exposure()[pri:6, instance:com.mobileApp.clear360.testcase.mobileAppLogin@290dbf45]">CheckIn_Exposure</td> 
  <td>main@439928219</td>   <td></td> </tr>
<tr bgcolor="a7b0ac">  <td>20/10/09 22:46:33</td>   <td>24845</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="mobileAppLogin.CheckIn_Symptoms()[pri:3, instance:com.mobileApp.clear360.testcase.mobileAppLogin@290dbf45]">CheckIn_Symptoms</td> 
  <td>main@439928219</td>   <td></td> </tr>
<tr bgcolor="a7b0ac">  <td>20/10/09 22:47:39</td>   <td>91423</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="mobileAppLogin.CheckIn_TestedPositive()[pri:4, instance:com.mobileApp.clear360.testcase.mobileAppLogin@290dbf45]">CheckIn_TestedPositive</td> 
  <td>main@439928219</td>   <td></td> </tr>
<tr bgcolor="a7b0ac">  <td>20/10/09 22:48:09</td>   <td>121658</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="mobileAppLogin.CheckIn_Travel()[pri:5, instance:com.mobileApp.clear360.testcase.mobileAppLogin@290dbf45]">CheckIn_Travel</td> 
  <td>main@439928219</td>   <td></td> </tr>
<tr bgcolor="a7b0ac">  <td>20/10/09 22:49:01</td>   <td>173453</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="mobileAppLogin.Dashboard()[pri:7, instance:com.mobileApp.clear360.testcase.mobileAppLogin@290dbf45]">Dashboard</td> 
  <td>main@439928219</td>   <td></td> </tr>
<tr bgcolor="a7b0ac">  <td>20/10/09 22:44:32</td>   <td>-95858</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="mobileAppLogin.login()[pri:1, instance:com.mobileApp.clear360.testcase.mobileAppLogin@290dbf45]">login</td> 
  <td>main@439928219</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>20/10/09 22:49:40</td>   <td>211804</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseclassWeb.setup()[pri:0, instance:com.web.clear360.testcase.VerifyCheckInTest@12028586]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@439928219</td>   <td></td> </tr>
<tr bgcolor="6067f4">  <td>20/10/09 22:43:45</td>   <td>-142695</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClassMobile.setupapp()[pri:0, instance:com.mobileApp.clear360.testcase.mobileAppLogin@290dbf45]">&gt;&gt;setupapp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@439928219</td>   <td></td> </tr>
<tr bgcolor="639ac6">  <td>20/10/09 22:49:53</td>   <td>225057</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerifyCheckInTest.verifycheckIn()[pri:0, instance:com.web.clear360.testcase.VerifyCheckInTest@12028586]">verifycheckIn</td> 
  <td>main@439928219</td>   <td></td> </tr>
</table>
